@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 40, 40, 40;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(ellipse at center center,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)));
  width: 100vw;
  height: 100vh;
}

main {
  @apply relative flex h-full w-full flex-none flex-col items-center gap-10 overflow-hidden bg-black p-10;
}


.headerTitle {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: auto;
  @apply bg-clip-text font-normal pb-2 text-4xl text-transparent mt-10;

}

h1 {
  @apply font-bold leading-none max-w-4xl text-center z-10;
  font-size: clamp(2rem, 8vw, 5rem);

}

.card h2 {
  @apply text-xl pb-2 text-neutral-200 font-thin text-center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}